<h2>Todos</h2>
<table>
  <tr>
    <th>Name</th>
    <th></th>
  </tr>
  {% for todo_item in todos %}
  <tr>
    <td>{{ todo_item.content }}</td>
    <td>
      {% include_form "todo_delete", id: todo_item:id %}
    </td>
  </tr>
  {% endfor %}

  {% if todos.size == 0 %}
    No todo items yet
  {% endif %}
</table>