<h2>Todos</h2>
<table>
  <tr>
    <th>Name</th>
    <th></th>
  </tr>
  {% for todo_item in todos %}
  {% if todo_item.list_id != list_id %}
    {% continue %}
  {% endif %}

  <tr>
    <td>{{ todo_item.content }}</td>
    <td>
      {% include_form "todo_delete", id: todo_item:id %}
    </td>
  </tr>
  {% endfor %}
</table>