<h1>List View</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
  </tr>
  {% for todo_item in todos %}
  <tr>
    <td>{{ todo_item.name }}</td>
    <td>{{ todo_item.description }}</td>
    <td>
      <a href="/todo_items/{{ todo_item.id }}">Details</a>
      <a href="/todo_items/{{ todo_item.id }}/delete">Delete</a>
    </td>
  </tr>
  {% endfor %}
</table>