<h1>Detail view</h1>
<p>{{ list.name }}</p>

{% include_form "list_edit_form", id: context.params.slug2 %}

<hr>
{%- graphql g = "get_todos", id: id -%}
{% include 'todo_item/list', todos: g.models.results, list_id: context.params.slug2 %}

<hr>
{% include_form 'todo_item', list_id: context.params.slug2 %}