<h1>{{ list.name }}</h1>
<a href="/">Back to the list overview page</a>

{%- graphql g = "get_todos", id: id -%}

{% include_form "list_edit_form", id: context.params.slug2 %}

{% assign empty_list = true %}
{% for todo_item in g.models.results %}
    {% if todo_item.list_id != context.params.slug2 %}
      {% continue %}
    {% endif %}

    {% assign empty_list = false %}
{% endfor %}

{% if empty_list == true %}
    {% include_form "list_delete", id: context.params.slug2 %}
{% endif %}

<hr>
{% include 'todo_item/list', todos: g.models.results, list_id: context.params.slug2 %}

<hr>
{% include_form 'todo_item', list_id: context.params.slug2 %}